@using WebUi.Models
@model PartsListViewModel


@{
    ViewBag.Title = "Запчасти";
}

@foreach (var part in Model.Parts)
{
   @Html.Partial("_PartSummary",part)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x,cat = Model.CurrentCat }))
</div>